<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django celery</title>
</head>
<body>
    <div>
        <h2>django celery task example</h2>
    <form action="" method="post">
        {% csrf_token %}
        <input type="number" name="num_of_customer" min="1" max="50" id="" style="width: 120px;">
        <button type="submit">generate</button>
     </form>
    </div>

</body>
</html>